.reviews {
    padding-bottom: 73px;
    &__client {
        display: flex;
        margin-top: 70px;
    }
    &__item {
        width: 169px;
        height: 169px;
    }
    &__text {
        margin-left: 62px;
        padding-right: 60px;
    }
    &__name {
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
    }
    &__marathone {
        margin-top: 10px;
        color: #646464;
        font-size: 14px;
        font-weight: 300;
    }
    &__descr {
        margin-top: 19px;
        color: #0d0d0d;
        font-size: 16px;
        font-weight: 300;

    }

}
